# Actividades del Modulo 4 | Python Programming Fundamentals
Erick de Jesus Hernandez Cerecedo
A01066428

### Actividad | Reading Files with Open
Leyendo archivos con Open

In [16]:
# Lees un archivo
with open('data/sample_read.txt', 'r') as File1:
    r = File1.readline()
    print(r)
    r = File1.readline()
    print(r)

    # Read line comienza a contar desde la ultima linea llamada
    r = File1.readlines(10)
    print(r)

This is line 1

This is line 2

['This is line 3\n']

### Actividad | Lab - Reading Files with Open

In [27]:
# Read the Example1.txt
example1 = 'data/sample_read.txt'
file1 = open(example1, "r")

# Imprimir el path del archivo
print(file1.name)

# Imprimir el modo del archivo, puede ser 'r' (lectura) or 'w' (Escritura)
print(file1.mode)

# Leer el archivo
FileContent = file1.read()

# Imprimir el archivo con '\n' salto de linea
print(FileContent)

# Tipo del conteido del archivo
print(type(FileContent))

# Cerrar el archivo al terminar
file1.close()

data/sample_read.txt
r
This is line 1
This is line 2
This is line 3
This is line 4
This is line 5
This is line 6
This is line 7
This is line 8
This is line 9
This is line 10
This is line 11
This is line 12
This is line 13
This is line 14
This is line 15
<class 'str'>

In [39]:
# Leer archivo usando open
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

# Verificar que el archivo esta cerrado
print(file1.closed)

# Read certain amount of characters
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This is line 1
This is line 2
This is line 3
This is line 4
This is line 5
This is line 6
This is line 7
This is line 8
This is line 9
This is line 10
This is line 11
This is line 12
This is line 13
This is line 14
This is line 15
True
This
 is
line 1

This is line 2

### Actividad | Writing Files with Open 
Escribiendo archivos con Open

In [48]:
# Escribir una linea
exmp2 = 'data/example.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

# Leer el archivo
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())



# Muestra de una lista
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]

# Escribir los strings en la lista en el archivo
with open('data/example.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

with open('data/example.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('data/example.txt', 'r') as testwritefile:
    print(testwritefile.read())


# Appending 
with open('data/example.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

# Additional modes
# r+ : Reading and writing. Cannot truncate the file.
# w+ : Writing and reading. Truncates the file.
# a+ : Appending and Reading. Creates a new file, if none exists.

# Escribir archivos
with open('data/sample_write.txt', 'w') as myFile:
    for i in range(1, 21):
        myFile.write('This is line %d\n' % (i))

This is line A
This is line B

This is line A

This is line B

This is line C

Overwrite

### Actividad | Lab - Writing Files with Open

In [52]:
# Exercises
from random import randint as rnd

memReg = 'data/members.txt'
exReg = 'data/inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [51]:

'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            # Extrar datos
            writeFile.seek(0)
            members = writeFile.readlines()
            # Elimanr los headers
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
    
            # Comienzo del documento
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'data/members.txt'
exReg = 'data/inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    10184      2020-1-19    yes
    47103      2019-2-19    yes
    11786      2015-2-18    yes
    58281      2015-9-23    yes
    74675      2017-1-13    yes
    59942      2018-10-1    yes
    56120      2018-12-16   yes
    31553      2019-9-3     yes
    78646      2019-7-21    yes
    89112      2019-4-21    yes
    26649      2015-4-10    yes
    11177      2016-8-13    yes
    26984      2015-12-17   yes
    33647      2015-11-23   yes
    69414      2020-6-7     yes
    66162      2020-11-13   yes

Inactive Members:


Membership No  Date Joined  Active
    49963      2018-12-2    no
    72897      2019-9-10    no
    75841      2016-1-10    no
    40252      2016-11-5    no
    37044      2019-8-5     no
    99653      2016-9-5     no
    66850      2020-8-14    no

### Actividad | Loading Data with Pandas 
Cargando datos con pandas

In [83]:
import pandas as pd

# Leer un archivo csv con pandas
#csv_path = 'file1.csv'
#df = pd.read_csv(csv_path)
#df.head()

# Crear un data frame
songs = {
  'Artist': ['Michael Jackson','AC/DC','Pink Floyd','Whitney Houston','Meat Loaf','Eagles','Bee Gees','Fleetwood Mac'],
  'Album': ['Thriller','Back in black','The dark side of the moon','The bodyguard','Bat out of hell','Their Greatest Hits (1971-1975)','Saturday Night Fever','Rumours'],
  'Released': [1982,1980,1973,1992,1997,1976,1977,1977],
  'Length': ['00:42:19','00:42:11','00:42:49','00:57:44','00:46:33','0:43:08','1:15:54','0:40:01'],
  'Rating': [10, 9.5, 9, 8.5, 8, 7.5, 7, 6.5]
}

songs_frame = pd.DataFrame(songs)
songs_frame.head()
print(songs_frame)

# Crear un dataframe a partir de una columna
x = songs_frame['Length']
print(x)

# Acceder a elementos unicos
songs_frame.iloc[1,0]

            Artist                            Album  Released    Length  \
0  Michael Jackson                         Thriller      1982  00:42:19
1            AC/DC                    Back in black      1980  00:42:11
2       Pink Floyd        The dark side of the moon      1973  00:42:49
3  Whitney Houston                    The bodyguard      1992  00:57:44
4        Meat Loaf                  Bat out of hell      1997  00:46:33
5           Eagles  Their Greatest Hits (1971-1975)      1976   0:43:08
6         Bee Gees             Saturday Night Fever      1977   1:15:54
7    Fleetwood Mac                          Rumours      1977   0:40:01

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5
0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5     0:43:08
6     1:15:54
7     0:40:01
Name: Length, dtype: object

'AC/DC'

### Actividad | Working with and Saving Data with Pandas
Trabajando y guardando datos con pandas

In [78]:
# Extraer datos de otro datarame con alguna condicion
df1 = songs_frame[songs_frame['Released']>1990]
df1.head()

# Crear nuevo archivo csv
# df1.to_csv('newfile.csv')

             Album  Released    Length
3     The boyguard      1992  00:57:44
4  Bat out of hell      1997  00:46:33

### Actividad | Lab - Loading Data and Viewing Data

In [87]:
# Guarda la columna Rating
q = songs_frame['Rating']
print(q)

# Assignar nuevas columnas Releassed y Artist
q = songs_frame[['Released','Artist']]
print(q)

# Access the 2nd row and the 3rd column of df:
songs_frame.iloc[1,2]

# Use the following list to convert the dataframe index df to characters and assign it to df_new; 
# find the element corresponding to the row index a and column 'Artist'. 
# Then select the rows a through d for the column 'Artist'
new_index=['a','b','c','d','e','f','g','h']

df_new = songs_frame
df_new.index = new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']
print(df_new)


songs_frame.head()

a    10.0
b     9.5
c     9.0
d     8.5
e     8.0
f     7.5
g     7.0
h     6.5
Name: Rating, dtype: float64
   Released           Artist
a      1982  Michael Jackson
b      1980            AC/DC
c      1973       Pink Floyd
d      1992  Whitney Houston
e      1997        Meat Loaf
f      1976           Eagles
g      1977         Bee Gees
h      1977    Fleetwood Mac
            Artist                            Album  Released    Length  \
a  Michael Jackson                         Thriller      1982  00:42:19
b            AC/DC                    Back in black      1980  00:42:11
c       Pink Floyd        The dark side of the moon      1973  00:42:49
d  Whitney Houston                    The bodyguard      1992  00:57:44
e        Meat Loaf                  Bat out of hell      1997  00:46:33
f           Eagles  Their Greatest Hits (1971-1975)      1976   0:43:08
g         Bee Gees             Saturday Night Fever      1977   1:15:54
h    Fleetwood Mac                          Rumours      1977   0:40:01

   Rating
a    10.0
b     9.5
c     9.0
d     8.5
e     8.0
f     7.5
g     7.0
h     6.5

            Artist                      Album  Released    Length  Rating
a  Michael Jackson                   Thriller      1982  00:42:19    10.0
b            AC/DC              Back in black      1980  00:42:11     9.5
c       Pink Floyd  The dark side of the moon      1973  00:42:49     9.0
d  Whitney Houston              The bodyguard      1992  00:57:44     8.5
e        Meat Loaf            Bat out of hell      1997  00:46:33     8.0